.resturant-manager{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding:80px 0px;
    background: #162B2E;
    margin-bottom: 180px;
    .resturant-manager-inner{
        max-width: 1140px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .detail-manager{
            max-width: 505px;
            width: 100%;
            span{
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                color: #EBDFD4;
            }
            h2{
                font-size: 80px;
                color: #EBDFD4;
                line-height: 1;
            }
           }
            .more-detail-resturant-manager{
                max-width: 566px;
                width: 100%;
                p{
                    font-size: 16px;
                    padding: 8px 0px;
                    color: #EBDFD4;
                }
            }
    }

}