.footer-wrapper{
    background-color: #0B1517;
    margin-top: -180px;
    margin-bottom: 0px;
    padding: 280px 0px 120px 0px;
    .footer-wrapper-inner{
        position: relative;
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
        figure{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-71%, -235%);
            background-color: #0B1517;
            img{

            }
        }
      .items-list{
        padding: 60px 0px 50px 0px;
        border-style: solid;
        border-width: 1px 1px 0px 1px;
        border-color: #EBDFD4;
    
        ul{
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 35px;
            li{
                color: #EBDFD4;
                transition: color 0.3s;
                font-size: 15px;
                cursor: pointer;
            }
        }
      }  
    }
    .under-detail{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 60px 50px 60px;

        border-style: solid;
        border-width: 0px 1px 1px 1px;
        border-color: #EBDFD4;
        border-radius: 0px 0px 5px 5px;
        .copy-right{
            font-size: 15px;
            color: #EBDFD4;
        }
        .btn-wrapper{
            display: flex;
            gap: 20px;
            a{
                font-size: 16px;
                color: #EBDFD4;
                padding: 15px 30px;
                fill: #EBDFD4;
                color: #EBDFD4;
                background-color: #02010100;
                border-style: solid;
                border-width: 1px 1px 1px 1px;
                border-color: #EBDFD4;
                border-radius: 5px 5px 5px 5px;
            }
        }
    }
}

a{
    text-decoration: none !important;
}