@media screen and (min-width: 320px) {
  .animation-food-wrapper .animation-food-inner {
    margin-top: 0px;
    z-index: 8;
    position: relative;
  }
  .animation-food-wrapper .animation-food-inner .upper-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .animation-food-wrapper .animation-food-inner .upper-box h2 {
    font-size: 40px;
    font-weight: 700;
    color: #EBDFD4;
    max-width: 800px;
    width: 100%;
    line-height: 1em;
    text-align: center;
  }
  .animation-food-wrapper .animation-food-inner .upper-box figure {
    margin: 0;
    /* Apply slower animation for clockwise and counterclockwise rotation */
    animation: rotateClockwise 60s ease-in-out infinite, rotateCounterClockwise 70s ease-in-out infinite alternate;
  }
  .animation-food-wrapper .animation-food-inner .upper-box figure img {
    width: 260px;
    height: auto;
  }
  .animation-food-wrapper .animation-food-inner .lower-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-height: unset;
    overflow: hidden;
    /* First Image: Clockwise then Counterclockwise rotation */
    /* Second Image: Clockwise then Counterclockwise rotation */
    /* Third Image: Clockwise then Counterclockwise rotation */
  }
  .animation-food-wrapper .animation-food-inner .lower-box .first-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    gap: 40px;
  }
  .animation-food-wrapper .animation-food-inner .lower-box .first-img figure img {
    width: 260px;
    height: auto;
    animation: rotateClockwise 60s ease-in-out infinite, rotateCounterClockwise 70s ease-in-out infinite alternate;
  }
  .animation-food-wrapper .animation-food-inner .lower-box .first-img figure:nth-child(even) {
    margin-left: 0px;
    z-index: -1;
  }
  .animation-food-wrapper .animation-food-inner .lower-box .second-img {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
  }
  .animation-food-wrapper .animation-food-inner .lower-box .second-img figure img {
    width: 260px;
    height: auto;
    animation: rotateClockwise 60s ease-in-out infinite, rotateCounterClockwise 70s ease-in-out infinite alternate;
  }
  .animation-food-wrapper .animation-food-inner .lower-box .third-img {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    gap: 40px;
  }
  .animation-food-wrapper .animation-food-inner .lower-box .third-img figure img {
    width: 260px;
    height: auto;
    animation: rotateClockwise 60s ease-in-out infinite, rotateCounterClockwise 70s ease-in-out infinite alternate;
  }
}
@media screen and (min-width: 767px) {
  .animation-food-wrapper .animation-food-inner {
    margin-top: -180px;
  }
  .animation-food-wrapper .animation-food-inner .upper-box {
    flex-direction: row;
    gap: 0px;
    margin-bottom: 0px;
  }
  .animation-food-wrapper .animation-food-inner .upper-box h2 {
    font-size: 100px;
    text-align: left;
  }
  .animation-food-wrapper .animation-food-inner .upper-box figure img {
    width: 528px;
    height: auto;
  }
  .animation-food-wrapper .animation-food-inner .lower-box {
    flex-direction: row;
    max-height: 511px;
  }
  .animation-food-wrapper .animation-food-inner .lower-box .first-img {
    flex-direction: row;
    gap: 0px;
  }
  .animation-food-wrapper .animation-food-inner .lower-box .first-img figure img {
    width: unset;
    height: unset;
  }
  .animation-food-wrapper .animation-food-inner .lower-box .first-img figure:nth-child(even) {
    margin-left: -120px;
    z-index: -1;
  }
  .animation-food-wrapper .animation-food-inner .lower-box .second-img {
    margin-bottom: 0px;
  }
}
figure, h1, h2, p {
  margin: 0;
}

@keyframes rotateClockwise {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg); /* Rotate clockwise 360 degrees */
  }
  100% {
    transform: rotate(0deg); /* Return to initial position */
  }
}
@keyframes rotateCounterClockwise {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-360deg); /* Rotate counterclockwise 360 degrees */
  }
  100% {
    transform: rotate(0deg); /* Return to initial position */
  }
}/*# sourceMappingURL=style.css.map */